In [4]:
import sys, os
sys.path.append("../scripts")

from data_pull import load_data

df = load_data("local", "../sql/retention_queries.sql")
df.head()

,order_id,user_id,order_date,first_name,last_name,gender,country,total_sale
0,122333,97994,2025-10-30 23:58:05 UTC,Lee,Beard,M,Brasil,49.99
1,77369,61959,2025-10-30 23:55:44 UTC,Linda,Robinson,F,China,49.99
2,44855,35791,2025-10-30 23:50:56 UTC,Adam,Rodriguez,M,China,187.00
3,13326,10717,2025-10-30 23:43:43 UTC,Christina,Castillo,F,Brasil,67.56
4,104236,83468,2025-10-30 23:42:24 UTC,Dwayne,Johnson,M,China,39.45